@font-face{
	font-family: 'Bebas Neue';
	src: url('BebasNeue.otf') format('truetype');
}

body {
font-family: 'Bebas Neue', sans-serif;
  background: #B7004E;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
color: #f274a5;
}

#canvas {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}

.titre {
	text-align: center;
	font-size: 4em;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav {
	padding-top: 2em;
	display: flex;
	align-items: center;
	font-size: 1.5em;
}

.nav li {
	padding: 0.313em;
	width: 100%;
	text-align: center;
}

a {
	background: none;
	text-decoration: none;
		color: #f274a5;
}

.wrapper {
	border-style: dotted;
	width: 70%;
	margin: 3em auto;
}